_id: spc_63ad8026eba44469a732f860d18fac4c
type: ApiSpec
parentId: wrk_3f262bc7f9204b3ebfb16e30f1a85f15
modified: 1614955558814
created: 1614284679104
fileName: api-auth
contents: >-
  swagger: "2.0"


  schemes: 
    - https


    
  host: auth.globalbot.ai


  info:
    version: 1.0.0
    title: api-auth
    description: Api de autorização do usuário
    termsOfService: https://docs.google.com/document/d/1Dj7jII1cW9sxU_ISiA12vm6FPeuvMz4g6OWQpgiUdTg/edit
    contact:
      name: Suporte
      url: https://www.globalbot.com.br/contato
      email: suporte@globalbot.com.br


      
  consumes:
    - application/json
  produces:
    - application/json


    
  tags:
    - name: settings / users
    - name: auth


    
  paths:
    
    '/access/create':
        post:
          tags:
            - settings / users
          summary: Cria um acesso
          description: Cria um acesso
          operationId: acessCreate
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  payload:
                    type: object
                    properties:
                      name:
                        type: string
                        example: ""
                      controllers:
                        type: object
                        example: {}
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information or authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/access/update':
        post:
          tags:
            - settings / users
          summary: Atualiza um acesso
          description: Atualiza um acesso
          operationId: acessUpdate
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  payload:
                    type: object
                    properties:
                      _id:
                        type: string
                        example: ""
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information or authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/access/read/{_id}':
        get:
          tags:
            - settings / users
          summary: Retorna a listagem dos acessos
          description: Retorna a listagem dos acessos
          operationId: acessRead_Id_Get
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
            - in: path
              name: _id
              type: string
              required: true
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/access/read/{_id}/':
        post:
          tags:
            - settings / users
          summary: Retorna a listagem dos acessos
          description: Retorna a listagem dos acessos
          operationId: acessRead_Id_Post
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
            - in: path
              name: _id
              type: string
              required: true
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/access/delete':
        post:
          tags:
            - settings / users
          summary: Excluí um acesso
          description: Excluí um acesso
          operationId: acessDelete
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  payload:
                    type: object
                    properties:
                      _id:
                        type: string
                        example: ""
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information or authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/access/users':
        get:
          tags:
            - settings / users
          summary: Retorna todos os usuários
          description: Retorna todos os usuários
          operationId: acessUsers
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/auth/login':
        post:
          tags:
            - auth
          summary: Realiza autorização de login
          description: Realiza autorização de login
          operationId: authLogin
          parameters:
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  email:
                    type: string
                    example: teste@globalbot.com.br
                  password:
                    type: string
                    example: senha
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
    
    '/auth/authenticate':
        post:
          tags:
            - auth
          summary: Autentificação
          description: Autentificação
          operationId: authAuthenticate
          parameters:
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  email:
                    type: string
                    example: teste@globalbot.com.br
                  password:
                    type: string
                    example: senha
                  userAgent:
                    type: string
                    example: ""
                  userPlatform:
                    type: object
                    example: []
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/auth/code':
        post:
          tags:
            - auth
          summary: Retorna usuário do código
          description: Retorna usuário do código
          operationId: authCode
          parameters:
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  userAgent:
                    type: string
                    example: ""
                  userPlatform:
                    type: object
                    example: []
                  code:
                    type: string
                    example: ""
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/auth/decode':
        post:
          tags:
            - auth
          summary: Retorna dados do usuário
          description: Retorna dados do usuário que usou o token
          operationId: authDecodePost
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Error decoding token"
            '404':
              description: "Template not found"
            '406':
              description: "Missing authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/auth/decode/':
        get:
          tags:
            - auth
          summary: Retorna dados do usuário
          description: Retorna dados do usuário que usou o token
          operationId: authDecodeGet
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Error decoding token"
            '404':
              description: "Template not found"
            '406':
              description: "Missing authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/auth/devices':
        get:
          tags:
            - auth
          summary: Retorna a listagem dos dispositivos
          description: Retorna a listagem dos dispositivos
          operationId: authDevices
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
              
    '/auth/devices/delete':
        post:
          tags:
            - auth
          summary: Excluí um dispositivo
          description: Excluí um dispositivo
          operationId: authDevicesDelete
          parameters:
            - in: header
              name: Authorization
              type: string
              required: true
            - in: body
              name: Body
              required: true
              schema:
                type: object
                properties:
                  deviceId:
                    type: string
                    example: ""
          responses:
            '200':
              description: "OK!"
            '401':
              description: "Authorization token is not valid."
            '404':
              description: "Template not found"
            '406':
              description: "Missing information or authorization token"
            '500':
              description: "Internal Server Error"
            '504':
              description: "Gateway Time-out"
contentType: yaml
